<div>
  <h1>Template séparé</h1>
  <p>
    Je suis un composant avec le template dans un fichier HTML, mon template peut être modifié à chaud sans perte du state.
  </p>
  <p>
    Compteur : {{ start + number }}
  </p>
</div>
